infra/inference-pipeline.asl.json
{
  "Comment": "Day 9 inference pipeline — Parallel(BedrockEnrich + PredictCancelRisk) → HasLowConfidence Choice → optional WriteReviewSinks → Persist. Same state machine name as Day 8 (inference-pipeline-<learner>); ASL definition updated in place.",
  "StartAt": "EnrichInParallel",
  "TimeoutSeconds": 600,
  "States": {

    "EnrichInParallel": {
      "Type": "Parallel",
      "ResultPath": "$.parallel",
      "Branches": [
        {
          "StartAt": "BedrockEnrich",
          "States": {
            "BedrockEnrich": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:accelya-bedrock-enrich-${LEARNER}",
                "Payload.$": "$"
              },
              "OutputPath": "$.Payload",
              "Retry": [
                {
                  "ErrorEquals": ["BedrockThrottleError"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                },
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "BedrockFallback"
                }
              ],
              "End": true
            },
            "BedrockFallback": {
              "Type": "Pass",
              "Result": {
                "enrichment": null,
                "sampled": false,
                "fallback_used": true,
                "branch": "bedrock"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "PredictCancelRisk",
          "States": {
            "PredictCancelRisk": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:accelya-predict-cancel-risk-${LEARNER}",
                "Payload.$": "$"
              },
              "OutputPath": "$.Payload",
              "Retry": [
                {
                  "ErrorEquals": ["EndpointColdStartTimeout"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 1.5
                },
                {
                  "ErrorEquals": ["EndpointThrottleException"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                },
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "ResultPath": "$.error",
                  "Next": "ModelFailedFallback"
                }
              ],
              "End": true
            },
            "ModelFailedFallback": {
              "Type": "Pass",
              "Result": {
                "risk_score": null,
                "confidence": null,
                "model_version": null,
                "low_confidence": true,
                "fallback_used": true,
                "branch": "predict"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "HasLowConfidence"
    },

    "HasLowConfidence": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parallel[1].low_confidence",
          "BooleanEquals": true,
          "Next": "WriteReviewSinks"
        }
      ],
      "Default": "Persist"
    },

    "WriteReviewSinks": {
      "Type": "Parallel",
      "ResultPath": "$.review_results",
      "Branches": [
        {
          "StartAt": "WriteSQS",
          "States": {
            "WriteSQS": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sqs:sendMessage",
              "Parameters": {
                "QueueUrl": "${MODEL_REVIEW_QUEUE_URL}",
                "MessageBody.$": "States.JsonToString($)"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "WriteAuditS3",
          "States": {
            "WriteAuditS3": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
              "Parameters": {
                "Bucket": "${BUCKET_NAME}",
                "Key.$": "States.Format('review/{}/model_low_confidence/{}.jsonl', '${LEARNER}', $.event_id)",
                "Body.$": "States.JsonToString($)",
                "ContentType": "application/json"
              },
              "End": true
            }
          }
        }
      ],
      "Next": "Persist"
    },

    "Persist": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:accelya-persist-enriched-${LEARNER}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}
